<div class="container py-6 mt-6">
    <div class="row mt-4 justify-content-center"> 
        <div class="col-md-8">
            <div class="card py-4 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="\assets\my_dp.jpeg" width="500" height="690" alt="Sivanand Gopakumar" class="img-fluid rounded mb-4">
                        </div>
                        <div class="col-md-8">
                            <h1 class="my-4">Sivanand Gopakumar</h1>
                            <p>Hi, I'm Sivanand Gopakumar! I'm a frontend developer with a passion for creating beautiful and
                                functional websites. I'm currently Software engeineering technian Student at Centennial college  and have experience working
                                with
                                HTML, CSS, JavaScript, and Angular. </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card py-4 mt-4 shadow">
                <div class="card-body">
                    In my free time, I enjoy learning about new technologies and experimenting with different design
                    techniques.
                    I also enjoy hiking, photography, and playing video games.
                </div>
            </div>
        </div>
    </div>
</div>