<div class="container py-6 mt-6">
    <div class="mt-4 text-center">
        <h2>Here are some of the projects I’ve worked on</h2>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-7">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="\assets\logooo.png" height="250" width="450" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h3 class="card-title">Personal website</h3>
                            I created a personal website to showcase my skills and experience as a frontend developer.
                            The website is built using Angular and features a clean and modern design.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="\assets\ecomm.png" height="250" width="450" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h3 class="card-title">E-commerce website</h3>
                            I worked on a team to develop an e-commerce website for a local business. My role was to
                            design and
                            implement the frontend using HTML, CSS, and JavaScript
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="\assets\wheather app.png" height="250" width="450" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h3 class="card-title">Weather app</h3>
                            I created a weather app using Angular that allows users to search for current weather
                            conditions in
                            any city. The app features a simple and intuitive interface.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>