<div class="container py-6 mt-6">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <h3 class="card-title">Contact me</h3>
                    If you have any questions or would like to get in touch with me, please fill out the contact form
                    below or email me at sgopaku1@mycentennialcollege.ca. I look forward to hearing from you!
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
                <div class="mb-3">
                    <label for="contactNumber" class="form-label">Contact Number</label>
                    <input type="tel" class="form-control" id="contactNumber">
                </div>
                <div class="mb-3">
                    <label for="emailAddress" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="emailAddress">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>