<div class="container py-6 mt-6">
    <div class="mt-4">
        <h2>As a frontend developer, I offer the following services</h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <h3 class="card-title">Website design</h3>
                    I can design beautiful and functional websites that meet your specific needs.
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <h3 class="card-title">Website development</h3>
                    I can develop websites using HTML, CSS, JavaScript, and Angular.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card py-4 my-2 shadow">
                <div class="card-body">
                    <h3 class="card-title">Website maintenance</h3>
                    I can help maintain your website by updating content, fixing bugs, and improving performance
                </div>
            </div>
        </div>
    </div>
</div>