<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-7 text-left text-white">
                <h1 class="fw-bold text-white">Welcome to my portfolio website</h1>
                <p class="lead">My name is Sivanand Gopakumar have a passion for creating beautiful and functional websites and also a cybersecurity enthusiast. Take a look around to
                    learn more about me and my work.</p>
            </div>
        </div>
    </div>
</header>